/* Estilos para la sección de contenido */
section {
  &.diymar {
    background-image: url(../img/textura-diamante.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 0;
    
    .row.text-center.py-3 {
      .col-lg-6.m-auto {
        h1 {
          color: $color-primario;
          text-align: center;
          font-size: 40px;
          font-family: 'Roboto';
          font-style: normal;
          padding: 10px;
        }

        p {
          font-family: 'Roboto';
          font-size: 18px !important;
          font-weight: 300 !important;
        }
      }
    }
  }

  &.contac-form {
    padding: 30px;
    margin: 0;

    .row.text-center.py-3 {
      .col-lg-6.m-auto {
        h1 {
          color: $color-primario;
          text-align: center;
          font-size: 40px;
          font-family: 'Roboto';
          font-style: normal;
          padding: 10px;
        }

        p {
          font-family: 'Roboto';
          font-size: 18px !important;
          font-weight: 300 !important;
        }
      }
    }
  }
}

