header {
  nav.navbar.navbar-expand-lg.bg-dark.navbar-light.d-none.d-lg-block#nav_top {
    div {
      div {
        p.nav-header {
                font-size: 50px;
                font-family: 'Roboto';
                color: #ffffff;
                font-style: normal;
                font-weight: 60;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
        }
      }
    }
  }
  
  nav.navbar.navbar-expand-lg.navbar-light.bg- {
    .container-fluid {
      a.navbar-brand.text-success.logo.h1.align-self-center[href="./index.html"] {
        img[src="./img/logotipo-06.png"] {
          // ... (atributos)
        }
      }
      
      button.navbar-toggler[type="button"][data-bs-toggle="collapse"][data-bs-target="#navbarSupportedContent"][aria-controls="navbarSupportedContent"][aria-expanded="false"][aria-label="Toggle navigation"] {
        span.navbar-toggler-icon {
          
        }
      }
      
      .collapse.navbar-collapse#navbarSupportedContent {
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
          li.nav-item {
            a.nav-link.active[aria-current="page"][href="./index.html"] {
              
            }
          }
          
          li.nav-item {
            a.nav-link[href="./pages/accesorios.html"] {
              
            }
          }
          
          li.nav-item {
            a.nav-link[href="./pages/preguntasfrecuentes.html"] {
              
            }
          }
          
          li.nav-item {
            a.nav-link[href="./pages/tipsdecuidado.html"] {
             
            }
          }
          
          li.nav-item {
            a.nav-link[href="./pages/contacto.html"] {
              
            }
          }
        }
      }
    }
  }
}
