/* Estilos para el carrusel */
#zay-hero-carousel.carousel.slide {
    
  }
  
  .carousel-indicators {
    
  }
  
  .carousel-inner {
      
    .carousel-item {
      
  
      .container {
        
  
        .row {
          
  
          .col-md-8.col-lg-6.order-lg-last {
            
  
            img.img-fluid {
              
            }
          }
        }
      }
    }
  }
  
  /* Estilos para la sección de contenido */
  section{
    .diymar{
      background-image: url(../img/textura-diamante.png);
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
    .contac-form{
      padding: 30px;
      margin: 0px;
    }
  
    .row.text-center.py-3 {
      
  
      .col-lg-6.m-auto {
        
  
        h1 {
          background: linear-gradient(#389A98, #717a79);
	        color: transparent;
	        background-clip: text;
	        -webkit-background-clip: text;
	        -moz-background-clip: text;
	        animation: text 5s linear infinite;
	        text-align: center;
	        font-size: 50px !important;
	        font-weight: 400 !important;
	        font-family: 'Roboto' sans-serif;
	        padding: 10px;
        }
  
        p {
          font-family: 'Roboto';
          font-size: 18px !important;
          font-weight: 300 !important;
        }
      }
    }
  }
  
  /* Estilos para la sección de galería */
  section.bg-light {
    
  
    .container.py-5 {
      
  
      .row {
        
  
        .col-12.col-md-4.mb-4 {
          
  
          .card.h-100 {
            
  
            a {
              font-family: 'Roboto';
              font-size: 18px !important;
              font-weight: 300 !important;
            }
  
            .card-body {
              
  
              ul.list-unstyled.d-flex.justify-content-between {
                
  
                li {
                  
  
                  i.text-warning.fa.fa-star {
                    
                  }
                }
              }
  
              a.h2.text-decoration-none.text-dark {
                
              }
  
              p.card-text {
                
              }
            }
          }
        }
      }
    }
  }
  