/* Estilos para la sección de Preguntas Frecuentes */
section.diymar.contac-form {
    
  
    .row.text-center.py-3 {
      
  
      .col-lg-6.m-auto {
        
  
        h1 {
          color: #389A98;
          text-align: center;
          font-size: 40px;
          font-family: 'Roboto';
          font-style: normal;
          padding: 10px;
        }
  
        p {
          font-family: 'Roboto';
          font-size: 18px !important;
          font-weight: 300 !important;
  
          h2 {
            color: #000000;
            text-align: center;
            font-size: 30px;
            font-family: 'Roboto';
            font-style: normal;
            padding: 8px;
          }
  
          strong {
            
          }
        }
      }
    }
  }
  